<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.buzheng.demo.esm.dao.SysRoleDao">
		
	<insert id="save" parameterType="SysRole">
		INSERT INTO sys_role (role_name, remark) 
    	VALUES (#{roleName}, #{remark} )
	</insert>
	
	<update id="update" parameterType="SysRole"> 
  		UPDATE sys_role
  		SET
  			role_name = #{roleName},
  			remark = #{remark}
  		where role_id = #{roleId}
	</update>
	
	<delete id="delete" parameterType="int">
    	DELETE FROM sys_role
    	WHERE role_id = #{roleId}
    </delete>
    
	<select id="findAll" resultType="SysRole">
		select * from sys_role order by update_time
	</select>
	
</mapper>